### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import statistics as st
import datetime

# File to Load (Remember to Change These)
heroescsv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_df = pd.read_csv(heroescsv)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Drop duplicate SN entries for a realistic count.
#player_counts = heroes_df.duplicated('SN')
no_dupes = heroes_df.drop_duplicates('SN')
total_rows=len(no_dupes)
print("Player count:")
print(total_rows)
#total_rows = len(heroes_df)*this is wrong, because of duplicats
#print("Total rows: ")
#print ((total_rows+1))

Player count:
576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#purchasing = heroes_df['Price']
#print (purchasing.describe(include=['object']))
#print("Avg purchase:")
average = round(heroes_df["Price"].mean(),2)
#average
#print (average)
#print("Total purchases:")
sumpurchase= round(heroes_df["Price"].sum(),2)
#print(sumpurchase)
#print("Maximum purchase:")
maxpurchase=round(heroes_df["Price"].max(),2)
#print(maxpurchase)
#print("Minimum purchase:")
minpurchase=round(heroes_df["Price"].min(),2)
#print(minpurchase)
#print("Number of Purchases:")
uniquepurchase=(heroes_df["Price"].count()+1)
#print(uniquepurchase)
statdf=pd.DataFrame({
    "Titles": ["Average purchase:", "Sum of Purchases:", "Maximum Purchase:", "Minimum Purchase:", "Number of Purchases:"],
    "Values": [average, sumpurchase, maxpurchase, minpurchase, uniquepurchase]
    })
statdf

                 Titles   Values
0     Average purchase:     3.05
1     Sum of Purchases:  2379.77
2     Maximum Purchase:     4.99
3     Minimum Purchase:     1.00
4  Number of Purchases:   781.00

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
onlymales = heroes_df.loc[heroes_df["Gender"] == "Male", :]
print("Male players:")
#print(onlymales.nunique())
#malesn=onlymales["sn"]
#print(malesn)
#I probably don't need to do this twice, but I am anyway.
no_dupes = heroes_df.drop_duplicates('SN')
onlymales = no_dupes.loc[no_dupes["Gender"]=="Male",:]
#print(len(onlymales))
ctmale=len(onlymales)
print(ctmale)
percentmale=((((len(onlymales)+1)/(total_rows))*100))
print("Percentage of male players:")
#round to 2 to get away from irrational
#print(round(percentmale,2))
percentm=round(percentmale, 2)
print(percentm)
onlyfemales = no_dupes.loc[no_dupes["Gender"] == "Female", :]
print("Female players:")
ctfem=len(onlyfemales)
print(ctfem)
print("Percentage of female players:")
percentfemale=((((len(onlyfemales))/(total_rows))*100))
percentf=round(percentfemale,2)
print(percentf)
onlyother = no_dupes.loc[no_dupes["Gender"]=="Other / Non-Disclosed", :]
print("Other / Non-Disclosed players:")
otherct=(len(onlyother))
print (otherct)
percentother=((((len(onlyother))/(total_rows))*100))
percento=(round(percentother,2))
print("Percentage of other / non-disclosed players:")
print(percento)
#I would like to come back and figure out how to print a % along with my integer data.
genderdf=pd.DataFrame({
    "Titles": ["Male player count", "Percent male", "Female player count", "Percent female", "Other/non-disclosed player count","Percent other/non-disclosed"],
    "Values": [ctmale, percentm, ctfem, percentf, otherct, percento]
})
genderdf

Male players:
484
Percentage of male players:
84.2
Female players:
81
Percentage of female players:
14.06
Other / Non-Disclosed players:
11
Percentage of other / non-disclosed players:
1.91

                             Titles  Values
0                 Male player count  484.00
1                      Percent male   84.20
2               Female player count   81.00
3                    Percent female   14.06
4  Other/non-disclosed player count   11.00
5       Percent other/non-disclosed    1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#make female-only df
onlyfemales=heroes_df.loc[heroes_df["Gender"]=="Female"]
#select price column
onlyfemales["Price"]
print("Purchases by females:")
#display count of data
ctfem=onlyfemales["Price"].count()+1
print(ctfem)
print('Average purchase by female user:')
#group females by SN to be able to see duplicates
groupedfemales=onlyfemales.groupby("SN")
#look at the price of these to display info about per-user data
groupedfemalesprice=groupedfemales["Price"].mean()
#Now groupedfemalesprice is a collection of the averages per user. I need a mean of those means.
print(round(groupedfemalesprice.mean(),2))
groupedmeangirl=round(groupedfemalesprice.mean(),2)
print('Sum of purchases by females:')
#display sum of data
onlyfemalesum=round(onlyfemales["Price"].sum(),2)
print (round(onlyfemales["Price"].sum(),2))
#Now the trickiness...
print("Average purchase per female user:")
#group females by SN to be able to see duplicates
groupedfemales=onlyfemales.groupby("SN")
#look at the price of these to display info about per-user data
groupedfemalespriceavg=round(onlyfemales["Price"].mean(),2)
print(round(onlyfemales["Price"].mean(),2))
#using the same logic, I'll come up with the count per
print("Average number of purchases per female user:")
groupedfemalespid = (groupedfemales["Purchase ID"].count())
print(round(groupedfemalespid.mean(),2))
perfmct=round(groupedfemalespid.mean(),2)
#HOLYSHITTHATWORKED
#blankline
print('')
#make male-only df
onlymales=heroes_df.loc[heroes_df["Gender"]=="Male"]
#select price column
onlymales["Price"]
print("Purchases by males:")
#display count of data
ctmale=onlymales["Price"].count()+1
print(ctmale)
print('Average purchase by male user:')
#group males by SN to be able to see duplicates
groupedmales=onlymales.groupby("SN")
#look at the price of these to display info about per-user data
groupedmalesprice=groupedmales["Price"].mean()
#Now groupedmalesprice is a collection of the averages per user. I need a mean of those means.
groupedmaleavg = round(groupedmalesprice.mean(),2)
print(round(groupedmalesprice.mean(),2))
print('Sum of purchases by males:')
#display sum of data
malesum=round(onlymales["Price"].sum(),2)
print (round(onlymales["Price"].sum(),2))
#Now the trickiness...
print("Average purchase per male user:")
#group males by SN to be able to see duplicates
groupedmales=onlymales.groupby("SN")
#look at the price of these to display info about per-user data
groupedmalespriceavg=round(onlymales["Price"].mean(),2)
print(round(onlymales["Price"].mean(),2))
#using the same logic, I'll come up with the count per
print("Average number of purchases per male user:")
groupedmalespid = (groupedmales["Purchase ID"].count())
print(round(groupedmalespid.mean(),2))
groupedmalectavg=round(groupedmalespid.mean(),2)
#
#onlymales=heroes_df.loc[heroes_df["Gender"]=="Male"]
#select price column
#onlymales["Price"]
#print("Purchases by males:")
#display count of data
#print(onlymales["Price"].count()+1)
#onlyboyct=[onlymales["Price"].count+1]
#print('Average purchase by males:')
#display mean of data
#print(round(onlymales["Price"].mean(),2))
#malemean=(round(onlymales["Price"].mean(),2))
#print('Sum of purchases by males:')
#display sum of data
#malesum=(round(onlymales["Price"].sum(),2))
#print(round(onlymales["Price"].sum(),2))
#Now the trickiness...
#print('Average purchase per male user:')
#group males by SN to be able to see duplicates
#groupedmales=onlymales.groupby("SN")
#look at the price of these to display info about per-user data
#groupedmalesprice=groupedmales["Price"].mean()
#Now groupedmalesprice is a collection of the averages per user. I need a mean of those means.
#print(round(groupedmalesprice.mean(),2))
#groupedmalespricemean=(round(groupedmalesprice.mean(),2))
#using the same logic, I'll come up with the count per
#print('Average number of purchases per male user:')
#groupedmalespid = (groupedmales["Purchase ID"].count())
#groupedmlct = (round(groupedmalespid.mean(),2))
#print(round(groupedmalespid.mean(),2))
#blankline
#print('')
#maledf=pd.DataFrame({
#    "Titles": ["Number of purchases by male users", "Average purchase by male user", "Sum of purchases by male users", "Average purchase per male user", "Average number of purchases per male user"],
#    "Values": [onlymalect, malemean, malesum, groupedmalespricemean, groupedmlct]
#})
#make other-only df
print('')
#blankline
onlyother=heroes_df.loc[heroes_df["Gender"]=="Other / Non-Disclosed"]
#select price column
onlyother["Price"]
print("Purchases by Other/Non-Disclosed:")
#display count of data
ctother = onlyother["Price"].count()+1
print(onlyother["Price"].count()+1)
print('Average purchase by Other/Non-Disclosed:')
#display mean of data
othermean=round(onlyother["Price"].mean(),2)
print(round(onlyother["Price"].mean(),2))
print('Sum of purchases by Other/Non-Disclosed:')
#display sum of data
othersum = round(onlyother["Price"].sum(),2)
print(round(onlyother["Price"].sum(),2))
#Now the trickiness...
print('Average purchase per Other/Non-Disclosed user:')
#group others by SN to be able to see duplicates
groupedother=onlyother.groupby("SN")
#look at the price of these to display info about per-user data
groupedotherprice=groupedother["Price"].mean()
#Now groupedotherprice is a collection of the averages per user. I need a mean of those means.
perothermean=round(groupedotherprice.mean(),2)
print(round(groupedotherprice.mean(),2))
#using the same logic, I'll come up with the count per
print('Average number of purchases per Other/Non-Disclosed user:')
groupedotherpid = (groupedother["Purchase ID"].count())
perotherct=round(groupedotherpid.mean(),2)
print(round(groupedotherpid.mean(),2))

Purchases by females:
114
Average purchase by female user:
3.19
Sum of purchases by females:
361.94
Average purchase per female user:
3.2
Average number of purchases per female user:
1.4

Purchases by males:
653
Average purchase by male user:
3.01
Sum of purchases by males:
1967.64
Average purchase per male user:
3.02
Average number of purchases per male user:
1.35

Purchases by Other/Non-Disclosed:
16
Average purchase by Other/Non-Disclosed:
3.35
Sum of purchases by Other/Non-Disclosed:
50.19
Average purchase per Other/Non-Disclosed user:
3.35
Average number of purchases per Other/Non-Disclosed user:
1.36

In [6]:
#making data frames for each. I suppose I could consolidate as well, but this works for now.
femdf=pd.DataFrame({
    "Titles": ["Number of purchases by female users", "Average purchase by female user", "Sum of purchases by female users", "Average purchase per female user", "Average number of purchases per female user"],
    "Values": [ctfem, groupedmeangirl, onlyfemalesum, groupedfemalespriceavg, perfmct]
})
femdf

                                        Titles  Values
0          Number of purchases by female users  114.00
1              Average purchase by female user    3.19
2             Sum of purchases by female users  361.94
3             Average purchase per female user    3.20
4  Average number of purchases per female user    1.40

In [7]:
maledf=pd.DataFrame({
    "Titles": ["Number of purchases by male users", "Average purchase by male user", "Sum of purchases by male users", "Average purchase per male user", "Average number of purchases per male user"],
    "Values": [ctmale, groupedmaleavg, malesum, groupedmalespriceavg, groupedmalectavg]
})
maledf

                                      Titles   Values
0          Number of purchases by male users   653.00
1              Average purchase by male user     3.01
2             Sum of purchases by male users  1967.64
3             Average purchase per male user     3.02
4  Average number of purchases per male user     1.35

In [41]:
otherdf=pd.DataFrame({
    "Titles": ["Number of purchases by other users", "Average purchase by other user", "Sum of purchases by other users", "Average purchase per other user", "Average number of purchases per other user"],
    "Values": [ctother, othermean, othersum, perothermean, perotherct]
})
otherdf.set_index("Titles")

                                            Values
Titles
Number of purchases by other users           16.00
Average purchase by other user                3.35
Sum of purchases by other users              50.19
Average purchase per other user               3.35
Average number of purchases per other user    1.36

In [231]:
bins = [0,15,25,35,45]
group_names = ["children","15-25","25-35","35-45"]
no_dupes["Age Stats"] = pd.cut(no_dupes["Age"], bins, labels=group_names)
no_dupes.head()
print(no_dupes.groupby('Age Stats')['Age'].count())
df=heroes_df
# Create a GroupBy object based upon "View Group"
heroes_group = no_dupes.groupby("Age Stats")

# Find how many rows fall into each bin
#print("count in bin")
#count in bin
#print(heroes_group["Age Stats"].count())

print("avg of age and price in bin")
#avg age and price
print(heroes_group[["Age","Price"]].mean())

print("count of ages")
#count of ages
countages = heroes_group[["Age"]].count()
#print(heroes_group[["Age"]].count())
print("sum of ages")
#sums of ages? Why do I need this?
countages = heroes_group[["Age"]].count()
totalsumages = countages.sum()
#this is the value for the denominator of my percent calculation
print(totalsumages)
#I need to figure out how to break apart the count for individual variable assignment.
childcount=no_dupes.loc[no_dupes["Age Stats"] == "children", :]
kiddiecount=childcount.count()
kidcount=kiddiecount["SN"]
youthcount=no_dupes.loc[no_dupes["Age Stats"] == "15-25", :]
yocount=youthcount.count()
youthscount=yocount["SN"]
youngincount=no_dupes.loc[no_dupes["Age Stats"] == "25-35", :]
yongcount=youngincount.count()
youngcount=yongcount["SN"]
middlecount=no_dupes.loc[no_dupes["Age Stats"] == "35-45", :]
midyocount=middlecount.count()
midcount=midyocount["SN"]
#middlecount=no_dupes.loc[no_dupes["Age Stats"] == "35-45", :]
#middlescount=midcount.count
#midcount=middlescount["SN"]

print("HEY LOOK! should be 65")
print(kidcount)
print(youngcount)
print(midcount)
print(heroes_group[["Age"]].sum())
player_count=total_rows
print("average age")
#Get the average of each column within the GroupBy object
meanbygroup=heroes_group[["Age"]].mean()
print(meanbygroup)
# Initial grouping (basically a sorted version of df)
print((kidcount/sumage)*100)
childpercent=round(((kidcount/sumage)*100),2)
youthspercent=round(((youthscount/sumage)*100),2)
youngpercent=round(((youngcount/sumage)*100),2)
middlepercent=round(((midcount/sumage)*100),2)
count=heroes_group.count()
print("HEYHEY")
print(kidcount)
sumh=count.sum()
sumage=sumh["SN"]
print(sumage)
print("Percent by age stats:")
percent=round(((sumages/player_count)*100),2)
df_percentagestat=(percent["Age"])
#print(percent["Age"])
df_percentagestat
percentagedf=pd.DataFrame({
    "Bins": ["children", "15-25", "25-34", "35-45"],
    "Count": [kidcount,youthscount,youngcount,midcount],
    "Percent": [childpercent, youthspercent, youngpercent, middlepercent]
})
percentagedf

Age Stats
children     65
15-25       382
25-35        96
35-45        33
Name: Age, dtype: int64
avg of age and price in bin
                 Age     Price
Age Stats
children   11.907692  3.117077
15-25      21.264398  3.080812
25-35      30.343750  2.939271
35-45      39.060606  3.242424
count of ages
sum of ages
Age    576
dtype: int64
HEY LOOK! should be 65
65
96
33
            Age
Age Stats
children    774
15-25      8123
25-35      2913
35-45      1289
average age
                 Age
Age Stats
children   11.907692
15-25      21.264398
25-35      30.343750
35-45      39.060606
11.284722222222223
HEYHEY
65
576
Percent by age stats:

C:\Users\mulrich\anaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       Bins  Count  Percent
0  children     65    11.28
1     15-25    382    66.32
2     25-34     96    16.67
3     35-45     33     5.73

#Age Demographics

#Establish bins for ages



#Categorize the existing players using the age bins. Hint: use pd.cut()


#Calculate the numbers and percentages by age group


#Create a summary data frame to hold the results


#Optional: round the percentage column to two decimal points


#Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [162]:
#Age Demographics
#print(heroes_df["Age"].max())
#print(heroes_df["Age"].min())
#Establish bins for ages
bins = [0,15,25,35,45]
group_names = ["children","15-25","25-35","35-45"]
#Categorize the existing players using the age bins. Hint: use pd.cut()
heroes_df["Age Stats"] = pd.cut(heroes_df["Age"], bins, labels=group_names)
#print (heroes_df.columns)
df=heroes_df
heroes_group = heroes_df.groupby("Age Stats")
# Find how many rows fall into each bin
#print("Count of Ages per Group")
#print(heroes_group["Age"].count())
# Get the average of each column within the GroupBy object
# calculate the numbers and percentages by age group
heroic_group = df.groupby("Age Stats")
children = df.loc[heroes_df["Age Stats"] == "children", :]
youths = df.loc[heroes_df["Age Stats"] == "15-25", :]
youngpeople = df.loc[heroes_df["Age Stats"] == "25-35", :]
middleaged = df.loc[heroes_df["Age Stats"] == "35-45", :]

# Find how many rows fall into each bin
#print(heroes_group["Age Stats"].count())

# Get the average of each column within the GroupBy object
doublemeand=heroic_group[["Age", "Price"]].mean()
count=heroic_group[["Age"]].count()
sumh=heroic_group[["Age"]].sum()
avg2=heroic_group[["Age"]].mean()
avgages=(countages/sumages)*100
#print(round(avgages,2))
#print("mean function of same")
#print(round(avg2,2))
#count values
childcount=children["SN"].count()
youthcount=youths["SN"].count()
youngpeoplecount=youngpeople["SN"].count()
middleagedcount=middleaged["SN"].count()
#avg values (with rounding)
childavg=round(children["Price"].mean(),2)
youthavg=round(youths["Price"].mean(),2)
youngpeopleavg=round(youngpeople["Price"].mean(),2)
middleagedavg=round(middleaged["Price"].mean(),2)
doublemeand

#Create a summary data frame to hold the results
countsummary=pd.DataFrame({
    "Bins": ["Children","Youths","Young People","Middle-aged"],
    "Count": [childcount, youthcount,youngpeoplecount,middleagedcount],
    "Avg Price":[childavg, youthavg, youngpeopleavg,middleagedavg]
})
countsummary
#print(avgageavgprice)
#avgpricesummar=pd.DataFrame({
#    "Titles": ["Children","Youths","Young People","Middle-aged"]
#})
#Optional: round the percentage column to two decimal points

         Titles  Count  Avg Price
0      Children     86       3.09
1        Youths    525       3.05
2  Young People    129       2.92
3   Middle-aged     40       3.35

In [293]:
# Create a GroupBy object based upon "Age Stats"
new_group = heroes_df.groupby("Age Stats")

# Find how many rows fall into each bin
print(new_group["Age Stats"].count())
agecount=new_group["Age Stats"].count()
countsum=agecount.sum()
print(countsum)

# Get the average of each column within the GroupBy object
#print(new_group[["Age Stats"]].sum())
pricemean=new_group[["Price"]].mean()
print (pricemean)
pricemeanmean=pricemean.mean()
print(pricemeanmean)
avgprice=round(float(pricemeanmean),2)
print(avgprice)


#Display Age Demographics Table


#Bin the purchase_data data frame by age
#countboth=countsummary[["Count", "Avg Price"]].count()
#sumc=(countsummary[["Count"]].count())
#countsum=(sumc.sum())
#avg_price=countsummary[["Avg Price"]].mean()
#avgprice=avgprice
countsummary=pd.DataFrame({
    "Count": [countsum],
    "Avg Price":[avgprice]
})
countsummary
# Find how many rows fall into each bin

Age Stats
children     86
15-25       525
25-35       129
35-45        40
Name: Age Stats, dtype: int64
780
              Price
Age Stats
children   3.087907
15-25      3.053714
25-35      2.923488
35-45      3.347000
Price    3.103027
dtype: float64
3.1

   Count  Avg Price
0    780        3.1

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [319]:
df = heroes_df.set_index("SN")
real_df=df[['Item ID','Item Name','Price']]
print(real_df['Item Name'].value_counts().head())
# Create a GroupBy object based upon "View Group"
df_group=df.groupby('Item ID')
print(df_group["Item ID"].count())
#df_g=df_group.groupby("Item ID")
# Find how many rows fall into each bin
(df_group["Item ID"].count())

df_group[["Item ID", "Item Name", "Price"]].head()
#I think I'd do this by using a .loc, but I'm not sure how... I hope you can see were my mind is from this.

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
Persuasion                                       9
Name: Item Name, dtype: int64
Item ID
0       4
1       3
2       6
3       6
4       5
5       4
6       2
7       7
8       3
9       4
10      4
11      5
12      6
13      4
14      2
15      5
16      4
17      4
18      2
19      8
20      5
21      5
22      6
23      1
24      5
25      6
26      2
27      1
28      2
29      5
       ..
154     4
155     5
156     5
157     4
158     2
159     7
160     6
161     5
162     5
163     5
164     7
165     4
166     3
167     4
168     2
169     4
170     4
171     3
172     4
173     2
174     4
175     3
176     2
177     2
178    12
179     6
180     1
181     5
182     3
183     3
Name: Item ID, Length: 183, dtype: int64

                 Item ID                                     Item Name  Price
SN
Lisim78              108     Extraction, Quickblade Of Trembling Hands   3.53
Lisovynya38          143                             Frenzied Scimitar   1.56
Ithergue48            92                                  Final Critic   4.88
Chamassasya86        100                                   Blindscythe   3.27
Iskosia90            131                                          Fury   1.44
Yalae81               81                                     Dreamkiss   3.61
Itheria73            169        Interrogator, Blood Blade of the Queen   2.18
Iskjaskst81          162                                 Abyssal Shard   2.67
Undjask33             21                                     Souleater   1.10
Chanosian48          136                  Ghastly Adamantite Protector   3.58
Inguron55             95                         Singed Onyx Warscythe   4.74
Haisrisuir60         162                                 Abyssal Shard   2.67
Saelaephos52         116                       Renewed Skeletal Katana   4.18
Assjaskan73            4                            Bloodlord's Fetish   1.70
Saesrideu94          165                   Bone Crushing Silver Skewer   4.86
Lisassa64             98                   Deadline, Voice Of Subtlety   2.89
Lisirra25             40                                 Second Chance   2.52
Zontibe81            161                                        Devine   1.76
Reunasu60             82                                       Nirvana   4.90
Chamalo71             89             Blazefury, Protector of Delusions   4.64
Iathenudil29          57               Despair, Favor of Due Diligence   4.60
Phiarithdeu40        168           Sun Strike, Jaws of Twisted Visions   1.48
Siarithria38          24                                 Warped Fetish   3.81
Eyrian71             151                                     Severance   3.40
Siala43              141                                    Persuasion   3.19
Lisirra87            178  Oathbreaker, Last Hope of the Breaking Storm   4.23
Lirtossa84            71                                        Demise   1.61
Eusri44               96                   Blood-Forged Skeletal Spine   3.09
Aela59               119     Stormbringer, Dark Blade of Ending Misery   4.32
Tyida79               37           Shadow Strike, Glory of Ending Hope   3.16
...                  ...                                           ...    ...
Eudanu84              12                                         Dawne   1.02
Eurithphos97          97                   Swan Song, Gouger Of Terror   2.50
Chamiman85            66                            Victor Iron Spikes   4.40
Arin32               165                   Bone Crushing Silver Skewer   4.86
Tyialisti80           58             Freak's Bite, Favor of Holy Might   4.14
Marundi65            149             Tranquility, Razor of Black Magic   1.75
Eusur90              121                                      Massacre   1.60
Mindirranya33         61                                      Ragnarok   3.87
Reunasu60            127                  Heartseeker, Reaver of Souls   3.92
Isty55                 5                                    Putrid Fan   4.08
Chanastst38           94                                Mourning Blade   3.49
Siarithria38         146                          Warped Iron Scimitar   3.10
Rastynusuir31         55                         Vindictive Glass Edge   2.27
Iljask75             167                   Malice, Legacy of the Queen   3.61
Lisjaskan36          180                                   Stormcaller   3.36
Mindjasksya61        112                                  Worldbreaker   2.60
Pheosurllorin41       79                           Alpha, Oath of Zeal   4.05
Raesty92              76                      Haunted Bronzed Bludgeon   3.15
Ilast79               73                                   Ritual Mace   2.05
Eratiel90             57               Despair, Favor of Due Diligence   4.60
Iral74               182                                     Toothpick   4.03
Aithelis62            44                         Bonecarvin Battle Axe   2.38
Assim27               17                  Lazarus, Terror of the Earth   1.70
Saedaiphos46         113                             Solitude's Reaver   4.07
Irith83              130                                         Alpha   2.07
Aelastirin39          58             Freak's Bite, Favor of Holy Might   4.14
Jiskjask80           101                                  Final Critic   4.19
Yathecal72            67         Celeste, Incarnation of the Corrupted   3.46
Sisur91              101                                  Final Critic   4.19
Ennrian78             50                                          Dawn   4.60

[697 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame